<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Syncitgroup\Sgform\Api\SgformRepositoryInterface" type="Syncitgroup\Sgform\Model\SgformRepository"/>
	<preference for="Syncitgroup\Sgform\Api\Data\SgformInterface" type="Syncitgroup\Sgform\Model\Data\Sgform"/>
	<preference for="Syncitgroup\Sgform\Api\Data\SgformSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Syncitgroup\Sgform\Model\ResourceModel\Sgform\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">syncitgroup_sgform_data</argument>
			<argument name="resourceModel" xsi:type="string">Syncitgroup\Sgform\Model\ResourceModel\Sgform\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="syncitgroup_sgform_sgform_listing_data_source" xsi:type="string">Syncitgroup\Sgform\Model\ResourceModel\Sgform\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
