<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Syncitgroup::top_level" module="Syncitgroup_Sgform" resource="Magento_Backend::content" sortOrder="9999" title="Syncitgroup" parent="Magento_Backend::content"/>
		<add action="syncitgroup_sgform/sgform/index" id="Syncitgroup_Sgform::syncitgroup_sgform_sgform" module="Syncitgroup_Sgform" parent="Syncitgroup::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Custom Form"/>
	</menu>
</config>
