<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="syncitgroup_sgform" id="syncitgroup_sgform">
			<module before="Magento_Backend" name="Syncitgroup_Sgform"/>
		</route>
	</router>
</config>
