<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="syncit" sortOrder="999" translate="label">
			<label>Syncitgroup</label>
		</tab>
		<section id="syncit" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Custom Form Settings</label>
			<tab>syncit</tab>
			<resource>Syncitgroup_Sgform::config_syncitgroup_sgform</resource>
			<group id="options" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Settings</label>
				<field id="sgform_extension_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Extension status</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="sgform_extension_email" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Email</label>
					<validate>required-entry validate-email</validate>
					<comment>Please enter the email on which the form data will be sent.</comment>
					<depends>
					    <field id="sgform_extension_status">1</field>
					</depends>
				</field>
			</group>
		</section>
	</system>
</config>
